/*position center & font setting*/
body {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  font-family: "Montserrat", serif;
}

/**setting font goup H**/
h1 {
  font-size: 45px;
  font-family: "Abril Fatface", serif;
  margin: 40px 0;
  letter-spacing: 2px;
}

h2 {
  font-size: 35px;
  /*margin-top: -25px;
  font-weight: 500;*/
  margin: 50px 0;
}
h3 {
  margin: 50px 0;
}

.rose {
  color: #d05270;
}
.blue {
  color: rgb(27, 27, 164);
}

/**************for setting of header & nav *************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-weight: 400;
  font-size: 15px;
}

.logo img {
  max-height: 200px; /* Deux fois plus grand */
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #555;
}

nav ul li a:hover {
  color: #a112d1;
}

/************end of detting nav*******************/

p {
  margin: 20px 0; /*set space of each contents*/
  padding: 0;
  letter-spacing: 1.1px;
  line-height: 1.2;
}

.image_top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
/************for footer*******************/
.bienvenue {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bienvenue img {
  width: 400px;
  margin-left: 50px;
}

.bienvenue div {
  width: 50%;
  margin-right: 20px;
}
.reseaux {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.lien-button-blue {
  color: white;
  text-decoration: none;
  background-color: #47acdf;
  font-size: 10px;
  width: 30%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 5px;
  padding-right: 5px;
}

.lien-button-blue a {
  color: white;
  text-decoration: none;
}

.lien-button-blue img {
  height: 20px;
  width: 20px;
  position: relative;
  top: 5px;
  right: 15px;
}

.lien-button-navy {
  color: white;
  text-decoration: none;
  background-color: #1275b1;
  font-size: 10px;
  width: 30%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 5px;
  padding-right: 5px;
}

.lien-button-navy a {
  color: white;
  text-decoration: none;
}

.lien-button-navy img {
  height: 20px;
  width: 20px;
  position: relative;
  top: 3px;
  right: 15px;
}

.lien-button-black {
  background-color: black;
  font-size: 10px;
  width: 30%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 5px;
  padding-right: 5px;
}

.lien-button-black a {
  color: white;
  text-decoration: none;
}

.lien-button-black img {
  height: 20px;
  width: 20px;
  position: relative;
  top: 5px;
  right: 15px;
}
/************end of setting for footer*******************/
