body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  width: 60%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-weight: 400;
  font-size: 15px;
}

.logo img {
  max-height: 200px;
  border-radius: 10%;
  border: 5px solid #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5),
    /* Ombre noire autour de l'image */ 0 0 25px rgba(0, 0, 0, 0.6); /* Ombre plus forte pour effet néon */
  background: rgba(0, 0, 0, 0.1); /* Overlay noir léger */
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #555;
}

nav ul li a:hover {
  color: #a112d1;
}

.profile-image {
  position: absolute;
  top: 20px; /* Ajustement de la position */
  right: 20px;
}

.profile-image img {
  max-width: 200px;
  height: auto;
  border-radius: 10%;
  border: 5px solid #000; /* Bordure noire */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5),
    /* Ombre noire autour de l'image */ 0 0 25px rgba(0, 0, 0, 0.6); /* Ombre plus forte pour effet néon */
  background: rgba(0, 0, 0, 0.1); /* Overlay noir léger */
}

main {
  padding: 20px;
  position: relative;
}

.welcome-section {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 180px;
  color: #d05270;
}

h1 {
  color: #d05270;
  font-size: 45px;
  font-family: "Abril Fatface", serif;
}

.welcome-section p {
  font-size: 1.5em;
}

.contact-section {
  max-width: 600px;
  margin: auto;
  background-color: #d05270;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  border: 3px solid #000; /* Bordure noire */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5),
    /* Ombre noire pour l'effet néon */ 0 0 30px rgba(0, 0, 0, 0.7); /* Ombre plus prononcée */
  background: rgba(0, 0, 0, 0.1); /* Overlay noir léger */
}

.contact-section h2 {
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.contact-section label {
  display: block;
  margin-top: 50px;
  font-weight: bold;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 2px solid #000; /* Bordure noire */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
    /* Ombre discrète */ 0 0 20px rgba(0, 0, 0, 0.6); /* Ombre plus forte pour l'effet néon */
  background: rgba(0, 0, 0, 0.1); /* Overlay noir léger */
}

.contact-section textarea {
  resize: vertical;
}

.contact-section button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #0b0b0b;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.contact-section button:hover {
  background-color: #050505;
}

.image-section {
  text-align: center;
  margin-bottom: 20px;
}

.image-section img {
  max-width: 20%;
  height: auto;
  border-radius: 20px;
  border: 5px solid #000; /* Bordure noire */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5),
    /* Ombre noire */ 0 0 25px rgba(0, 0, 0, 0.6); /* Ombre plus forte pour effet néon */
  background: rgba(0, 0, 0, 0.1); /* Overlay noir léger */
}

footer {
  display: flex;
  justify-content: center;
  margin: auto;
}

.reseaux {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.lien-button-blue {
  color: white;
  text-decoration: none;
  background-color: #47acdf;
  font-size: 10px;
  width: 30%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 5px;
  padding-right: 5px;
}

.lien-button-blue a {
  color: white;
  text-decoration: none;
}

.lien-button-blue img {
  height: 20px;
  width: 20px;
  position: relative;
  top: 5px;
  right: 15px;
}

.lien-button-navy {
  color: white;
  text-decoration: none;
  background-color: #1275b1;
  font-size: 10px;
  width: 30%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 5px;
  padding-right: 5px;
}

.lien-button-navy a {
  color: white;
  text-decoration: none;
}

.lien-button-navy img {
  height: 20px;
  width: 20px;
  position: relative;
  top: 3px;
  right: 15px;
}

.lien-button-black {
  background-color: black;
  font-size: 10px;
  width: 30%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 5px;
  padding-right: 5px;
}

.lien-button-black a {
  color: white;
  text-decoration: none;
}

.lien-button-black img {
  height: 20px;
  width: 20px;
  position: relative;
  top: 5px;
  right: 15px;
}
